openapi: 3.0.0
info:
  title: Dokumentasi API
  description: Dokumentasi API Proyek 3
  version: 1.0.0
servers:
  - url: https://asia-southeast2-awangga.cloudfunctions.net/idbiz

paths:
  /auth/register/admin:
    post:
      tags:
        - Auth Admin
      summary: Register akun admin baru
      description: Endpoint untuk mendaftarkan akun admin baru
      operationId: registerAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "John Doe"
                phoneNumber:
                  type: string
                  pattern: "^62\\d{9,15}$"
                  example: "6281234567890"
                email:
                  type: string
                  format: email
                  example: "johndoe@example.com"
                password:
                  type: string
                  format: password
                  example: "securepassword123"
                role:
                  type: string
                  enum: [admin]
                  example: "admin"
      responses:
        "200":
          description: Akun admin berhasil dibuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "New user created successfully"
                  name:
                    type: string
                    example: "John Doe"
                  phonenumber:
                    type: string
                    example: "6281234567890"
                  email:
                    type: string
                    example: "johndoe@example.com"
                  team:
                    type: string
                    example: "pd.my.id"
                  scope:
                    type: string
                    example: "dev"
                  jumlahAntrian:
                    type: integer
                    example: 7
                  role:
                    type: string
                    example: "admin"
        "400":
          description: Bad request - Data tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Bad Request"
                  response:
                    type: string
                    example: "Invalid phone number format"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Failed to insert new user"
                  response:
                    type: string
                    example: "Database error message"

  /auth/login/admin:
    post:
      tags:
        - Auth Admin
      summary: Login akun admin
      description: Endpoint untuk login akun admin
      operationId: loginAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: "johndoe@example.com"
                password:
                  type: string
                  format: password
                  example: "securepassword123"
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Login successful"
                  name:
                    type: string
                    example: "John Doe"
                  email:
                    type: string
                    example: "johndoe@example.com"
                  phone:
                    type: string
                    example: "6281234567890"
                  team:
                    type: string
                    example: "pd.my.id"
                  scope:
                    type: string
                    example: "dev"
                  antrian:
                    type: integer
                    example: 7
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        "400":
          description: Bad request - Data tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Invalid Request"
                  response:
                    type: string
                    example: "Request body is missing or malformed"
        "401":
          description: Unauthorized - Kredensial tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Invalid Credentials"
                  response:
                    type: string
                    example: "Password mismatch"
        "404":
          description: User tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Error: User not found"
                  response:
                    type: string
                    example: "No user with the provided email"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Database Error"
                  response:
                    type: string
                    example: "Database connection issue"
  
  /idbiz/auth/register:
    post:
      tags:
        - Auth
      summary: Register a new user
      description: Create a new user with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: John Doe
                phonenumber:
                  type: string
                  pattern: '^62\\d{9,15}$'
                  example: 6281234567890
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                password:
                  type: string
                  format: password
                  example: mySecurePassword123
                role:
                  type: string
                  enum: [user, admin]
                  example: user
              required:
                - name
                - phonenumber
                - email
                - password
      responses:
        '200':
          description: User successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: New user created successfully
                  name:
                    type: string
                    example: John Doe
                  phonenumber:
                    type: string
                    example: 6281234567890
                  email:
                    type: string
                    example: john.doe@example.com
                  team:
                    type: string
                    example: pd.my.id
                  scope:
                    type: string
                    example: dev
                  jumlahAntrian:
                    type: integer
                    example: 7
                  role:
                    type: string
                    example: user
        '400':
          description: Invalid request or phone number format
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Bad Request
                  response:
                    type: string
                    example: Invalid phone number format
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Failed to hash password
                  response:
                    type: string
                    example: Hashing algorithm error
  /auth/login/form:
    post:
      tags:
        - Auth
      summary: User login
      description: Allows users to log in by providing their email and password. Returns user data and an authentication token on successful login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: "john.smoke@example.com"
                  description: "The email address of the user."
                password:
                  type: string
                  format: password
                  example: "test123"
                  description: "The password of the user."
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Login successful"
                  name:
                    type: string
                    example: "John Doe"
                  email:
                    type: string
                    example: "user@example.com"
                  phone:
                    type: string
                    example: "+1234567890"
                  team:
                    type: string
                    example: "Engineering"
                  scope:
                    type: string
                    example: "admin"
                  antrian:
                    type: integer
                    example: 5
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Invalid Request"
                  response:
                    type: string
                    example: "Invalid JSON payload."
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Error: User not found"
                  response:
                    type: string
                    example: "No user with the provided email."
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Invalid Credentials"
                  response:
                    type: string
                    example: "Password mismatch."
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Database Error"
                  response:
                    type: string
                    example: "An unexpected error occurred."
  
  /auth/users/cust:
    get:
      tags:
        - Auth
      summary: Retrieve all customer accounts
      description: Fetches all customer account data from the database.
      responses:
        '200':
          description: Successfully retrieved user data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Data berhasil diambil
                  user:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "64b3fbc2e4b0a72b640e9a5e"
                        name:
                          type: string
                          example: John Doe
                        phonenumber:
                          type: string
                          example: 6281234567890
                        email:
                          type: string
                          example: john.doe@example.com
                        role:
                          type: string
                          example: customer
                        created_at:
                          type: string
                          format: date-time
                          example: 2024-01-24T12:34:56Z
        '404':
          description: Failed to fetch user data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Gagal mengambil data user
                  response:
                    type: string
                    example: connection timeout




# openapi: 3.0.3
# info:
#   title: Geo API
#   description: API untuk mendapatkan data jalan dan wilayah berdasarkan koordinat.
#   version: 1.0.0
# servers:
#   - url: https://asia-southeast2-awangga.cloudfunctions.net
# paths:
#   /idbiz/geo/roads:
#     post:
#       tags:
#         - roads
#       summary: Get roads data around a point
#       description: Mengembalikan data jalan di sekitar titik koordinat yang diberikan dengan jarak maksimum tertentu.
#       security:
#         - token: []
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               properties:
#                 long:
#                   type: number
#                   format: float
#                   description: Longitude coordinate
#                   example: 107.5758500037501
#                 lat:
#                   type: number
#                   format: float
#                   description: Latitude coordinate
#                   example: -6.874720427234501
#                 max_distance:
#                   type: integer
#                   description: Maximum distance (in meters) to search for roads
#                   example: 100
#       responses:
#         "200":
#           description: List of roads around the given point
#           content:
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   $ref: "#/components/schemas/Road"
#         "400":
#           description: Invalid request
#   /idbiz/geo/region:
#     post:
#       tags:
#         - region
#       summary: Get region data around a point
#       description: Mengembalikan data wilayah di sekitar titik koordinat yang diberikan.
#       security:
#         - token: []
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               properties:
#                 long:
#                   type: number
#                   format: float
#                   description: Longitude coordinate
#                   example: 107.5758500037501
#                 lat:
#                   type: number
#                   format: float
#                   description: Latitude coordinate
#                   example: -6.874720427234501
#       responses:
#         "200":
#           description: Region data around the given point
#           content:
#             application/json:
#               schema:
#                 $ref: "#/components/schemas/Region"
#         "400":
#           description: Invalid request
# components:
#   schemas:
#     Road:
#       type: object
#       properties:
#         id:
#           type: string
#           description: Unique identifier for the road
#           example: "12345"
#         name:
#           type: string
#           description: Name of the road
#           example: "Jalan Raya Bandung"
#         length:
#           type: number
#           description: Length of the road in meters
#           example: 1200
#         geometry:
#           type: object
#           properties:
#             type:
#               type: string
#               example: "LineString"
#             coordinates:
#               type: array
#               items:
#                 type: array
#                 items:
#                   type: number
#                   format: float
#                   description: Coordinates of the road
#                   example: [107.575, -6.874]
#     Region:
#       type: object
#       properties:
#         id:
#           type: string
#           description: Unique identifier for the region
#           example: "67890"
#         name:
#           type: string
#           description: Name of the region
#           example: "Bandung City"
#         type:
#           type: string
#           description: Type of region (e.g., city, district)
#           example: "city"
#         boundary:
#           type: object
#           properties:
#             type:
#               type: string
#               example: "Polygon"
#             coordinates:
#               type: array
#               items:
#                 type: array
#                 items:
#                   type: number
#                   format: float
#                   description: Coordinates of the region boundary
#                   example: [107.575, -6.874]
#   securitySchemes:
#     token:
#       type: apiKey
#       name: login
#       in: header